@font-face {
  font-family: "Nunito";
  src: url(/assets/font/woff/Nunito-Medium.woff) format("woff"),
    url("/assets/font/ttf/Nunito-Medium.ttf") format("ttf");
  /* font-weight: 500; */
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #2b2c30;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7e1d2;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

nav .nav-pics img:last-child {
  margin-left: 10px;
}

nav .navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

nav .navbar-links a {
  font-weight: 600;
}

nav .nav-button a {
  background-color: #0c3a23;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
}

header {
  display: flex;
  flex-direction: column;
}

header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  border-bottom: 1px solid #b4bbbe;
  margin: 0 110px;
}

header .header-top h1 {
  font-size: 100px;
}

header .header-top p {
  font-size: 25px;
  text-align: center;
  margin: 20px 0 45px;
}

.container-list {
  display: flex;
  align-items: center;
  margin: 0 110px;
  justify-content: space-between;
}

.container-list .container-list-header-top p.paragraph-larg {
  font-size: 26px;
  margin: 60px 5px 10px 0;
}

.container-list .container-list-button a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
}

.container-list .container-list-button {
  margin-top: 40px;
  background-color: #ee4b4a;
  padding: 12px 24px;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.container-list .container-list-button i {
  background-color: #fff;
  color: #ee4b4a;
  margin-left: 10px;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 50%;
}

.list-header ul.list-num-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.list-header ul.list-num-1 li {
  width: 15%;
  list-style-type: none;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 252, 250, 0.5);
  margin-top: 35px;
}

.list-header ul.list-num-1 img {
  width: 75%;
}

.list-header ul.list-num-1 span {
  display: block;
  margin-top: 10px;
}
